.first,
.form-item-username label {
  float: left; /* LTR */
}

.second {
  float: right; /* LTR */
}

.form-item-username {

  .description {
    clear: both;
  }

  #edit-username {
    float: right; /*LTR */
    margin-left: 5px; /* LTR */
    margin-bottom: 10px;
  }
}

#office-people-quick-users-search {
  & > div {
    position: relative;

    #office_people_user_results {
      z-index: 1;
      position: absolute;
      display: none;
      top: 29px;
      right: 0px;
      border: black solid 1px;
      background: white;
      width: 220px;

      div {
        padding: 5px;

        span {
          margin-right: 5px;

          #shift-link {
            float: right;
          }
        }
      }
    }
  }
}

.body {

  .item-list {

    ul {
      margin: 0px;

      li {
        display: inline;
        padding-left: 5px;
      }
    }
  }

  #ui-tabs-1 {
    clear: both;

    .add-message {
      float: right;
      clear: both;
    }

    #office-customer-message-node-form {
      display: none;
      clear: both;

      .form-item-title {
        float: left;
      }

      #edit-field-user {
        float: right;
      }

      #edit-body {
        clear: both;

        #edit-body-und-0-format {
          display: none;
        }

        #edit-body-und-0-value {
          height: 100px;
        }

        .grippie {
          display: none;
        }
      }
    }

    .view-office-people-data-center-messages {
      clear: both;

      .views-row {
        margin-bottom: 10px;

        .views-field-comment-display {

          .view-display-id-customer_message_comments {
            padding-left: 25px;

            .views-field-name {
              float: left;
              padding-right: 5px;
              font-weight: bold;
            }
          }

          .comment-form {
            display: none;
            clear: both;

            &:after {
              content: ".";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            textarea {
              width: 85%;
              float: left;
              clear: both;
            }

            .form-actions.form-wrapper {
              margin: 0px;

              .form-submit {
                float: right;
              }
            }

            .grippie {
              display: none;
            }
          }
        }
      }
    }
  }

  #ui-tabs-2 {
    padding: 10px;

    .shifts-options {
      padding-bottom: 10px;
    }

    #shift-hours-table {

      thead {

        th {
          width: 20%;
        }
      }

      tbody {

        td {
          &.empty-shifts {
            text-align: center;
          }

          &.options {

            div {
              display: inline;
            }
          }
        }
      }
    }

    .shifts-pager {
      padding-top: 10px;
      text-align: center;

      .regular-link {
        color: #0074BD;
      }

      .first {
        float: none;
      }
    }
  }
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 10px;
}
