.first,
.form-item-username label {
  float: left;
  /* LTR */
}

.second {
  float: right;
  /* LTR */
}

.form-item-username .description {
  clear: both;
}
.form-item-username #edit-username {
  float: right;
  /*LTR */
  margin-left: 5px;
  /* LTR */
  margin-bottom: 10px;
}

#office-people-quick-users-search > div {
  position: relative;
}
#office-people-quick-users-search > div #office_people_user_results {
  z-index: 1;
  position: absolute;
  display: none;
  top: 29px;
  right: 0px;
  border: black solid 1px;
  background: white;
  width: 220px;
}
#office-people-quick-users-search > div #office_people_user_results div {
  padding: 5px;
}
#office-people-quick-users-search > div #office_people_user_results div span {
  margin-right: 5px;
}
#office-people-quick-users-search > div #office_people_user_results div span #shift-link {
  float: right;
}

.body .item-list ul {
  margin: 0px;
}
.body .item-list ul li {
  display: inline;
  padding-left: 5px;
}
.body #ui-tabs-1 {
  clear: both;
}
.body #ui-tabs-1 .add-message {
  float: right;
  clear: both;
}
.body #ui-tabs-1 #office-customer-message-node-form {
  display: none;
  clear: both;
}
.body #ui-tabs-1 #office-customer-message-node-form .form-item-title {
  float: left;
}
.body #ui-tabs-1 #office-customer-message-node-form #edit-field-user {
  float: right;
}
.body #ui-tabs-1 #office-customer-message-node-form #edit-body {
  clear: both;
}
.body #ui-tabs-1 #office-customer-message-node-form #edit-body #edit-body-und-0-format {
  display: none;
}
.body #ui-tabs-1 #office-customer-message-node-form #edit-body #edit-body-und-0-value {
  height: 100px;
}
.body #ui-tabs-1 #office-customer-message-node-form #edit-body .grippie {
  display: none;
}
.body #ui-tabs-1 .view-office-people-data-center-messages {
  clear: both;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row {
  margin-bottom: 10px;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row .views-field-comment-display .view-display-id-customer_message_comments {
  padding-left: 25px;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row .views-field-comment-display .view-display-id-customer_message_comments .views-field-name {
  float: left;
  padding-right: 5px;
  font-weight: bold;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row .views-field-comment-display .comment-form {
  display: none;
  clear: both;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row .views-field-comment-display .comment-form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row .views-field-comment-display .comment-form textarea {
  width: 85%;
  float: left;
  clear: both;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row .views-field-comment-display .comment-form .form-actions.form-wrapper {
  margin: 0px;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row .views-field-comment-display .comment-form .form-actions.form-wrapper .form-submit {
  float: right;
}
.body #ui-tabs-1 .view-office-people-data-center-messages .views-row .views-field-comment-display .comment-form .grippie {
  display: none;
}
.body #ui-tabs-2 {
  padding: 10px;
}
.body #ui-tabs-2 .shifts-options {
  padding-bottom: 10px;
}
.body #ui-tabs-2 #shift-hours-table thead th {
  width: 20%;
}
.body #ui-tabs-2 #shift-hours-table tbody td.empty-shifts {
  text-align: center;
}
.body #ui-tabs-2 #shift-hours-table tbody td.options div {
  display: inline;
}
.body #ui-tabs-2 .shifts-pager {
  padding-top: 10px;
  text-align: center;
}
.body #ui-tabs-2 .shifts-pager .regular-link {
  color: #0074BD;
}
.body #ui-tabs-2 .shifts-pager .first {
  float: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 10px;
}
