.views-field-title-field.views-field-editablefield input {
  width: 50px; }

.views-exposed-form .views-exposed-widget {
  clear: both; }

.views-field-field-unit-type input {
  width: 100px; }

#edit-select,
.views-field-field-purchase-date fieldset {
  border: none;
  margin: 0px; }

#edit-select {
  float: right; }

.attachment.attachment-before {
  float: right;
  padding: 5px 0 0 0; }

#views-form-office-hospitality-items-default table th {
  text-transform: none; }

.editablefield-processed .field {
  float: left;
  /* LTR */
  padding-right: 5px;
  /* LTR */ }

.form-required,
#edit-select legend,
.views-field-field-user label,
.views-field-field-price label,
.views-field-field-quantity label,
.views-field-editablefield .lazyload-edit-me,
.views-field-field-purchase-date fieldset label,
.views-field-field-purchase-date fieldset .description,
.views-field-title-field.views-field-editablefield label,
.views-field-title-field.views-field-editablefield .description,
#views-form-office-hospitality-items-hospitality-items #edit-submit,
#views-form-office-hospitality-items-default .tabledrag-toggle-weight,
#views-form-office-hospitality-items-default .form-actions.form-wrapper {
  display: none; }

.view-office-hospitality-items #dialog {
  display: none; }
.view-office-hospitality-items .view-filters {
  width: 50%;
  float: left; }

th.views-field {
  width: 15%; }

tr.total-amount {
  text-align: right; }

th.views-field-views-bulk-operations {
  width: 1px; }

.container-inline-date,
.form-item-start-date {
  float: left; }

.views-exposed-widget.views-submit-button {
  float: right;
  width: 100%; }

.petite-cache-sum {
  float: right;
  padding-right: 10px; }

#edit-submit-office-hospitality-items {
  float: left; }

#office-hospitality-dates-picker {
  float: left;
  display: inline;
  margin-left: 15px; }
  #office-hospitality-dates-picker .container-inline-date {
    clear: none; }

#office-hospitality-piggy-bank-form .form-actions.form-wrapper {
  float: right;
  padding: 10px 0 0 0; }
#office-hospitality-piggy-bank-form .form-item-piggy-bank {
  float: left;
  margin: 0px 20px 0px 0px; }

@media print {
  input,
  .breadcrumb,
  .page-title,
  #edit-select,
  .views-exposed-widget,
  .views-field-views-bulk-operations {
    display: none; } }
